<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>OpenApiServlet</servlet-name>
        <servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>
        <init-param>
            <param-name>openApi.configuration.resourcePackages</param-name>
            <param-value>zti.lab04</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenApiServlet</servlet-name>
        <url-pattern>/openapi/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>rest.html</welcome-file>
    </welcome-file-list>

</web-app>
